*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial';

}

body{
    min-height: 100vh;
    background: #FAF9F3;
    font-family: Arial, helvetica, sans-serif;
}


.ForRefreshClass{
    position: relative;
    color: transparent;
}



.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 90px;
}

.title{
    position: relative;
    animation-name: titleAni;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.title h2{
    display: flex;
    justify-content: center;
    font-size: 3em;
    user-select: none;
    position: relative;
}

.title img{
    width: 250px;
    position: relative;
}

@keyframes titleAni {
    0% {right: -1000px;}
    100% {right: 0;}
}

.container-contact{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#contact-header{
    background: #2B2B2B;
    COLOR: #f15555;

}
/*
חלק שעושה עכשיו
 */

.input-box {
    position: relative;
    width: 17%;
    min-width: 200px;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
::placeholder{
    color: #FAF9F3;
    font-size: 1.2em;
    font-weight: 400;
}


.btn{
   width: 120px;
   margin: 10px;
   font-size: 24px;
    height: 45px;
    background: #FAF9F3;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: #f15555;
    font-weight: 700;
    transition: .5s;
}

.btn:hover {
    background: black;
    color: #FAF9F3;
}

.flex-search {
  display: flex;
  flex-direction: row;
    background-color: #f15555;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin-left: 10px;
}
.search-button{
      width: 120px;
  height: 40px;
  margin: 10px;
  font-size: 24px;
   flex-grow: 1;
}
.search-category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-label {
      flex-basis: 150px;
  width: 120px;
  height: 40px;
  font-size: 24px;
   flex-grow: 1;
  margin-left: 5px;
  white-space: nowrap;

}

.search-input {
      flex-basis: 200px;
  width: 120px;
  height: 40px;
  margin-right: 11px;
  margin-left: 11px;
  font-size: 20px;
  flex-grow: 5;
}




/*
table
 */
.content-table{
    min-width: 80%;

    border-collapse: collapse;
    margin: 25px ;
    front-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    background-color: #f15555;
    color: #FAF9F3;
    text-align: left ;
    font-weight: bold;

}
.content-table th,
/*
Arrangement of rows in relation to the table
 */
.content-table td{
    padding: 12px 15px;
}
.content-table btn{
    padding: 60px 15px;
}
.content-table tbody tr {

    border-bottom: 1px solid #FAF9F3;
}
/*
Arrange every second row in the table by color*/
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #f15555;
}
.content-table tbody tr.actvie-row {
    font-weight: bold;
    color: #f15555;
}
.tableWrapper {
    display: flex;
    justify-content: center;
}
.searchWrapper {
    display: flex;
    justify-content: center;
      overflow-x: auto;
}
@media screen and (min-width: 768px) {
  .content-table {
    width: 80%;
  }
  }