*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
   font-size: 18px;
}

body{
    min-height: 100vh;
    background: #FAF9F3;
    font-family: Arial, helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightUp{
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.leftUp{
    margin-left: 5%;
}

.disconnectButton{
    text-decoration: none;
    color: black;
}

header img{
    width: 150px;
    position: relative;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow : 0 10px 0 #f15555
}

.title h2{
    display: flex;
    justify-content: center;
    font-size: 3em;
    user-select: none;
    position: relative;
}







.btn{
    width: 100%;
    height: 45px;
    background: #FAF9F3;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: #f15555;
    font-weight: 700;
    transition: .5s;
}

.btn:hover {
    background: black;
    color: #FAF9F3;
}






.wrapper{
    display: flex;
    justify-content: center;
}

.wrapper{
    position: relative;
    animation-name: wrapperAni;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.anotherWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f15555;
    position: relative;
    width: 400px;
    height: 440px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    overflow: hidden;
}




.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

::placeholder{
    color: #FAF9F3;
    font-size: 1em;
    font-weight: 400;
}