doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    title PieceOFCar
    script(defer, src="contact.js")
    link(rel="stylesheet", href="contact.css")
    link(rel="stylesheet", href="style.css")

  body.preload
    include includes/header

    .title
      h2 Contact Us

    .Wrapper
      .anotherWrapper
        form(action="/contact", method="post", onsubmit="return validateContactForm()", name="contactForm")
          .input-box
            input.login__input(name="name", type="text", required, placeholder="Full name")
          .input-box
            input.login__input(name="phone", type="tel", required, placeholder="Phone Number")
          .input-box
            input.login__input(type="email", name="email", required, placeholder="Email")
          .input-box.description
            textarea.login__input(name="description", required, placeholder="Description", cols="30", rows="10")
          .submit
            input.btn(type="submit", value="send")

    include includes/footer

  script(type="module", src="contact.js")
  script(nomodule, src="contact.js")
