<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PieceOFCar</title>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="Home.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <div class="leftUp"><a class="disconnectButton" href="/signOut">
          <h2>Disconnect</h2></a></div>
      <div class="rightUp"><a href="/Home"><img src="car.png"></a><a href="/Home">
          <h2 data-value="PIECEOFCAR">PIECEOFCAR</h2></a></div>
    </header>
    <div class="title">
      <h2>Home</h2>
    </div>
    <div class="wrapper">
      <div class="anotherWrapper">
        <ul id="buttonsList">
          <li class="newButton"><a href="/uploadItem">
              <button class="btn" type="button">Upload item</button></a></li>
          <li class="newButton"><a href="/Search">
              <button class="btn" type="button">Search item</button></a></li>
          <li class="newButton"><a href="/MyItems">
              <button class="btn" type="button">My items for sale</button></a></li>
          <li class="newButton"><a href="/BoughtItems">
              <button class="btn" type="button">View bought items</button></a></li>
          <li class="newButton"><a href="/SoldItems">
              <button class="btn" type="button">View sold items</button></a></li>
          <li class="newButton"><a href="/UpdateDetails">
              <button class="btn" type="button">Update Details</button></a></li>
          <li class="newButton"><a href="/contact">
              <button class="btn" type="button">Contact As</button></a></li>
        </ul>
      </div>
    </div>
    <footer>
      <p>contact us:</p><span class="iconDown1">
        <ion-icon name="call"></ion-icon></span><span class="iconDown2">
        <ion-icon name="mail"></ion-icon></span>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>