footer
  p contact us:
  span.iconDown1
    ion-icon(name="call")
  span.iconDown2
    ion-icon(name="mail")

script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")