<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PieceOFCar</title>
    <link rel="stylesheet" href="search.css">

</head>
<body class="preload">
<header>
    <div class="leftUp">
        <a class="disconnectButton" href="index.html"><h2>Disconnect</h2></a>
    </div>
    <div class="rightUp">
        <a href="Home.html"><img src="car.png"></a>
        <a href="Home.html"><h2 data-value="PIECEOFCAR">PIECEOFCAR</h2></a>
    </div>
</header>

    <div class="title">
        <h2>Search</h2>
    </div>


<div class="searchWrapper">
<div class="flex-search">
    <form action="#">
        <div class=" flex-search">
                <div class="input-box">
                    <input class="search__input" type="text" required placeholder="type of car">
                </div>
               <div class="input-box">
                    <input class="search__input" type="number" min="1900" required placeholder="Year of model">
                </div>
                <div class="input-box">
                    <input class="search__input" type="text" required placeholder="Item type">
                </div>
                 <div class="input-box">
                    <input class="search__input" type="text" required placeholder="area">
                </div>
                <button type="search-button" class="btn">search</button>
        </div>
            </form>
        </div>
    </div>

<div class="tableWrapper">
     <table class="content-table">
        <thead>
            <tr>
                <th>Bids</th>
                <th>date</th>
                <th>area</th>
                <th>price</th>
                <th>picture</th>
            </tr>
        </thead>
        <tbody>
              <tr>
                <td>
                    <button data-modal-target="#modal" type="select-button" class="btn-select">Bid</button>
                </td>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
            </tr>
            <tr>
                <td><button data-modal-target="#modal" type="select-button" class="btn-select">Bid</button></td>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
            </tr>
            <tr>
                <td><button data-modal-target="#modal" type="select-button" class="btn-select">Bid</button></td>
                <td>Data 1</td>
                <td>Data 2</td>
                <td>Data 3</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal" id="modal">
    <div class="modal-header">
        <div class="modal-title">Bidding information</div>
        <button data-close-button class="close-button">&times;</button>
    </div>
<div class="modal-body">
    <p>Highest current offer: 10000</p>
    <p>Auction end time: 15:43</p>
    <div class="flex_offer">
        <input class="My_offer" type="number" min="0" required placeholder="My offer">
        <button type="button" class="make-offer">make offer</button>
    </div>
</div>
</div>
<div id="overlay"></div>

<footer>
    <p>contact us:</p>
    <span class="iconDown1"><ion-icon name="call"></ion-icon></span>
    <span class="iconDown2"><ion-icon name="mail"></ion-icon></span>
</footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="search.js"></script>
</body>
</html>