<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PieceOFCar</title>
    <link rel="stylesheet" href="../static/css/UploadItem.css">
</head>
<body>
<header>
    <div class="leftUp">
        <a class="disconnectButton" href="index.html"><h2>Disconnect</h2></a>
    </div>
    <div class="rightUp">
        <a href="Home.html"><img src="../static/pics/car.png"></a>
        <a href="Home.html"><h2 data-value="PIECEOFCAR">PIECEOFCAR</h2></a>
    </div>
</header>
    <div class="title">
        <h2>Upload Item</h2>
    </div>
    <div class="upload">
            <form action="#">
                <div class="input-box">
                    <input class="login__input" type="text" required placeholder="Car">
                </div>
                <div class="input-box">
                    <input class="login__input" type="number" min="1900" required placeholder="Model year">
                </div>
                <div class="input-box">
                    <input class="login__input" type="text" required placeholder="Item type">
                </div>
                <div class="input-box">
                    <input class="login__input" type="text" required placeholder="Area">
                </div>
                <div class="input-box">
                    <input class="login__input" type="number" required placeholder="Price">
                </div>
                <input type="file" id="myFile" name="filename">
                <div class="submit">
                    <button type="submit" class="btn">Upload</button>
                </div>
            </form>
        </div>

<footer>
    <p>contact us:</p>
    <span class="iconDown1"><ion-icon name="call"></ion-icon></span>
    <span class="iconDown2"><ion-icon name="mail"></ion-icon></span>
</footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="../static/js/UploadItem.js"></script>

</body>
</html>